<footer class="btn btn-dark mt-4" id="footer" data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false"
  aria-controls="collapse" style="width: 100%;">
  <div class="row">
    <div class="col-6">
      <h5>CodeLine Software</h5>
    </div>
    <div class="col-6">
      <p>Desenvolvendo soluções inovadoras em software para o seu negócio.</p>
    </div>
  </div>
  <div class="collapse" id="collapse">
    <div class="card card-body bg-dark text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <!-- <h5>CodeLine Software</h5> -->
            <!-- <p>Desenvolvendo soluções inovadoras em software para o seu negócio.</p> -->
            <img class="w-75" src="img/LogoMaycon.png" alt="LogoMaycon.">
          </div>
          <div class="col-md-6 text-md-right">
            <h5>Maycon Vitor Correa</h5>
            <p>Endereço: Rua. João Ometto, 546 - Iracemapolis</p>
            <p>Email: mayconvitorcorrea@gmail.com</p>
            <p>Telefone: (19) 93505-1626</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  document.getElementById('footer').addEventListener('click', function () {
    setTimeout(function () {
      window.scrollTo({
        top: document.body.scrollHeight,
        behavior: 'smooth'
      });
    }, 500); // 1 segundo de atraso
  });
</script>