<header>
  <nav class="navbar navbar-expand-lg sticky-top" style="background-color: #01516e;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-pills nav-fill">
          <li class="nav-item" style="border-radius: 5px; transition: background-color 0.3s;"
            onmouseover="this.style.backgroundColor='#007aa6'" onmouseout="this.style.backgroundColor=''">
            <a class="nav-link text-white" href="/ativo_edit">Ativo</a>
          </li>
          <li class="nav-item" style="border-radius: 5px; transition: background-color 0.3s;"
            onmouseover="this.style.backgroundColor='#007aa6'" onmouseout="this.style.backgroundColor=''">

            <a class="nav-link text-white" href="/home_edit">Interface</a>
          </li>
          <li class="nav-item" style="border-radius: 5px; transition: background-color 0.3s;"
            onmouseover="this.style.backgroundColor='#007aa6'" onmouseout="this.style.backgroundColor=''">

            <a class="nav-link text-white" href="/index">Ver Loja</a>
          </li>
          <li class="nav-item" style="border-radius: 5px; transition: background-color 0.3s;"
            onmouseover="this.style.backgroundColor='#007aa6'" onmouseout="this.style.backgroundColor=''">
            <a class="nav-link disabled text-white" aria-disabled="true">Em breve</a>
          </li>
        </ul>
        <button type="button" class="btn btn-dark" onmouseover="this.style.backgroundColor='#007aa6'"
          onmouseout="this.style.backgroundColor=''">
          <a class="nav-link text-white" href="/logoff-adm" data-bs-toggle="tooltip" data-bs-placement="bottom"
            data-bs-custom-class="custom-tooltip" data-bs-title="Apenas para uso do Administrador do Site.">Logoff</a>
        </button>
      </div>
    </div>
  </nav>
</header>