<div class="modal fade" th:id="'edicao-ambiente-modal' + ${ativo.cod}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Ambiente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/editarAmbienteAtivo/{id}(id=${ativo.cod})}" th:object="${ativo}" method="post"
                    enctype="multipart/form-data">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="cod">Ambiente anterior:</span>
                            <span class="input-group-text" th:text="${ativo.ambiente.nomeAmbiente}"></span>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="ambiente">Nova ambiente</span>
                            <select name="ambiente" class="form-select" aria-label="Ambiente" aria-describedby="ambiente">
                                <option value="" disabled selected>Selecione uma Ambiente</option>
                                <option th:each="ambiente : ${ambientes}" th:value="${ambiente.id}" th:text="${ambiente.nomeAmbiente}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar Ambiente</button>
                    </div>
                </form>
            </div>
        </div>
    </div>